/*Fonts*/

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff),
    url(../fonts/roboto.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotobold.woff),
    url(../fonts/robotobold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotomedium.woff),
    url(../fonts/robotomedium.woff2);
  font-weight: 500;
  font-style: normal;
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --intense-dark: #231f20;
  --basic-dark: #283136;
  --darkened-grey: #444444;
  --extra-grey: #4d4d4d;
  --basic-grey: #666666;
  --lower-intense-grey: #c1c1c1;
  --mouse-grey: #b4b9bb;
  --cloud-grey: #a6a6a6;
  --light-grey: #dfdfdf;
  --lighter-grey: #dbdbdb;
  --even-lighter-grey: #d7dcde;
  --low-saturation-grey: #d5d5d5;
  --extra-light-grey: #e1e1e1;
  --lowest-intense-grey: #eeeeee;
  --basic-red: #fb565a;
  --extra-red: #e74246;
  --intensive-red: #d7373b;
  --basic-green: #00ca74;
  --extra-green: #00bc6c;
  --intensive-green: #00aa62;
  --basic-yellow: #efc849;
  --extra-yellow: #eab534;
  --intensive-yellow: #e5a722;
}

/*Global*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 1440px;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
}

.page {
  height: 100%;
}

/*Header*/

.main-nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 50px 140px 0px;

  background-color: var(--lower-intense-grey);
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 45px;
}

.user-menu {
  display: block;
  margin-left: 246px;
}

.main-nav a, .user-menu {
  color: var(--basic-black);
}

.main-nav a:hover,
.main-nav a:focus{
  opacity: 70%;
}

.main-menu a:hover,
.main-menu a:focus,
.user-menu:hover,
.user-menu:focus {
  color: var(--basic-red)
}

.main-nav a:active,
.user-menu:active {
  color: var(--basic-black);
  opacity: 30%;
}

.main-menu,
.service-list,
.statistics-list,
.about-activities-list,
.clients-list,
.media-links,
.search-items-toggle {
  list-style: none;
  margin: 0;
  padding: 0;
}

.current-menu-item a:not([href]) {
  color: var(--basic-black);
}

/*.current-menu-item::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 60px;
  width: 61px;
  height: 2px;
  background-color: var(--basic-red);
}*/

/*Main --- Index*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/*Slider*/

.content {
  width: 1160px;
  margin: 0px auto;
}

.slider {
  min-height: 431px;
  background-color: var(--lower-intense-grey);
}

.slide {
  display: flex;
  background-color: var(--lower-intense-grey);
}

.poster {
  display: block;
}

.slogan {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.button {
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--extra-red);
}

.button:active,
.service-list:nth-child(2) .service-order:active,
.service-list:last-child .service-order:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--intensive-red);
}

/*Services*/

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  min-height: 507px;
  padding: 80px 0px;

}

.service-list-option:nth-child(2) .service-order {
  background-color: var(--basic-green);
}

.service-list-option:nth-child(2) .service-order:hover,
.service-list-option:nth-child(2) .service-order:focus {
  background-color: var(--extra-green);
}

.service-list-option:nth-child(2) .service-order:active {
  background-color: var(--intensive-green);
}

.service-list-option:last-child .service-order {
  background-color: var(--basic-yellow);
}

.service-list-option:last-child .service-order:hover,
.service-list-option:last-child .service-order:focus {
  background-color: var(--extra-yellow);
}

.service-list-option:last-child .service-order:active {
  background-color: var(--intensive-yellow);
}

/*About*/

.about-us {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-black);
}

.about-activities,
.statistics-header {
  font-weight: 700;
  text-transform: uppercase;
}

.stats-container {
  display: flex;
}

.statistics {
  margin-left: 150px;
}

.statistics-header {
  color: var(--basic-black);
}

.statistics-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px
}

.statistics-percentage {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

.statistics-percentage span {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}

.statistics-description {
  margin: 0px;
}

/*Clients*/

.clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  min-height: 184px;
}

.client a {
  opacity: 20%;
}

.client a:hover,
.client a:focus {
  opacity: 100%
}

.client a:active {
  opacity: 10%
}

/*Footer*/

.feedback-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.feedback-address,
.feedback-telephone {
  font-style: normal;
  line-height: 18px;
  color: var(--basic-grey);

}

/*Social media and bottom line*/

.bottom-line {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 140px;
  align-items: center;
  min-height: 217px;
  padding-left: 140px;

}

.media-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.link,
.link a {
  width: 81px;
  height: 81px;
  background-color: var(--extra-light-grey);
  border-radius: 50%;
}

.link a {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.link:first-child a {
  background-image: url(../img/icons/vk-icon.svg);

}

.link:nth-child(2) a {
  background-image: url(../img/icons/fb-icon.svg);
}

.link:last-child a {
  background-image: url(../img/icons/insta-icon.svg);
}

.link a:hover,
.link a:focus {
  background-color: var(--extra-red);
}

.link:active {
  background-color: var(--intensive-red);
}

.link a:active {
  opacity: 30%;
}

.footer-slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-discount {
  line-height: 22px;
  color: var(--darkened-grey);
}

/*Pop-up*/

.page-popup {
  display: none;
}

.popup-heading {
  font-size: 45px;
  font-weight: 700px;
  line-height: 52px;
  color: var(--basic-black);
}

.form-legend {
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.form-legend input,
.form-legend textarea {
  border: 2px solid var(--even-lighter-grey);
  border-radius: 3px;
  color: var(--darkened-grey);
}

.form-legend input::placeholder,
.form-legend textarea::placeholder {
  opacity: 50%;
}

.form-legend input:hover,
.form-legend textarea:hover {
  border-color: var(--mouse-grey);
}

.form-legend input:focus,
.form-legend textarea:focus {
  border-color: var(--basic-black);
  color: var(--darkened-grey);
}

.form-legend input:invalid,
.form-legendm textarea:invalid {
  border-color: var(--basic-red);
  color: var(--basic-red);
}

/*Main ---- Catalogue*/

.heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.search-form label{
  line-height: 20px;
}

.search-prices label{
  line-height: 22px;
  text-transform: uppercase;
}

.sort-list {
  list-style: none;
}

.sort-option a,
.sort-option a:visited{
  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 30%;
}

.sort-option a:hover,
.sort-option a:focus {
  opacity: 60%
}

.sort-option a:active,
.sort-option a:not([href]) {
  opacity: 100%;
}

.dir-up svg path {
  opacity: 20%;
}

.dir-down svg path:hover,
.dir-down svg path:focus,
.dir-up svg path:hover,
.dir-up svg path:focus {
  fill: var(--cloud-grey);
  opacity: 100%;
}

.dir-down svg path:active,
.dir-up svg path:active {
  fill: var(--intense-dark);
}

.item-heading a,
.item-heading a:visited {
  color: var(--basic-black);
}

.item-heading a:hover,
.item-heading a:focus {
  color: var(--basic-red);
}

.item-heading a:active {
  color: var(--basic-black);
  opacity: 30%;
}

.show-description-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.show-description-button:active {
  color: var(--basic-white);
}

.search-items-page a {
  display: block;
  width: 50px;
  height: 50px;
}

.next-page a {
  width: 260px;
  text-transform: uppercase;
  text-align: center;
}

.form-submit-button,
.search-items-page a {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--lowest-intense-grey);
}

.form-submit-button:hover,
.form-submit-button:focus,
.search-items-page a:hover,
.search-items-page a:focus {
  background-color: var(--light-grey);
}

.form-submit-button:active,
.search-items-page a:active{
  border-top-style:inset;
  background-color: var(--low-saturation-grey);
  color: rgba(255, 255, 255, 0.3);
}

.search-items-page a:not([href]) {
  border: 3px solid var(--lighter-grey);
  background-color: var(--basic-white);
}
