/*Fonts*/

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff),
    url(../fonts/roboto.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotobold.woff),
    url(../fonts/robotobold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotomedium.woff),
    url(../fonts/robotomedium.woff2);
  font-weight: 500;
  font-style: normal;
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --intense-dark: #231f20;
  --basic-dark: #283136;
  --darkened-grey: #444444;
  --extra-grey: #4d4d4d;
  --basic-grey: #666666;
  --lower-intense-grey: #c1c1c1;
  --mouse-grey: #b4b9bb;
  --cloud-grey: #a6a6a6;
  --lighter-cloud-grey: #ababab;
  --light-shadow-grey: #cfcfcf;
  --light-grey: #dfdfdf;
  --lighter-grey: #dbdbdb;
  --even-lighter-grey: #d7dcde;
  --low-saturation-grey: #d5d5d5;
  --extra-light-grey: #e1e1e1;
  --lowest-intense-grey: #eeeeee;
  --basic-red: #fb565a;
  --extra-red: #e74246;
  --intensive-red: #d7373b;
  --basic-green: #00ca74;
  --extra-green: #00bc6c;
  --intensive-green: #00aa62;
  --basic-yellow: #efc849;
  --extra-yellow: #eab534;
  --intensive-yellow: #e5a722;
}

/*Global*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  max-width: 1440px;
  position: relative;
  margin: 0px auto;
  padding: 0px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

/*Header*/

.page-header {
  display: flex;
  width: 100%;
  background-color: var(--lowest-intense-grey);
}

.main-nav {
  display: flex;
  /*grid-template-columns: 1fr auto 1fr;*/
  min-width: 1160px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;

  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 45px;
}

.user-menu {
  position: relative;
  display: block;
  justify-self: end;
}

.user-menu::before {
  content: "";
  top: 5px;
  left: -40px;
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url(../img/icons/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav a, .user-menu {
  color: var(--basic-black);
}

.main-nav a:hover {
  opacity: 0.7;
}

.main-menu a:hover,
.user-menu:hover {
  color: var(--basic-red)
}

.main-nav a:active,
.user-menu:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-menu,
.slider-list,
.service-list,
.statistics-list,
.about-activities-list,
.clients-list,
.media-links,
.search-items-toggle,
.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.current-menu-item a:not([href]) {
  color: var(--basic-black);
}

.current-menu-item {
  position: relative
}

.current-menu-item::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0px;
  width: 73px;
  height: 2px;
  background-color: var(--basic-red);
}

/*Main --- Index*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/*Slider*/

.slider {
  position: relative;
  width: 100%;
  min-height: 431px;
  background-color: var(--lowest-intense-grey);
}

.slide {
  display: none;
  width: 1160px;
  margin: 0 auto;
  background-color: var(--lowest-intense-grey);
}

.current-slide {
  display: flex;
}

.slide-description {
  padding-top: 78px;
}

.poster {
  display: block;
}

.slogan {
  margin-top: 0;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.comment {
  margin-bottom: 38px;
}

.slider-controls {
  position: absolute;
  bottom: 90px;
  left: 675px;
  z-index: 20;
}

.slider-controls .current {
  background-image: url(../img/icons/toggle-btn-current.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button:not(.slider-controls button:last-child) {
  margin-right: 17px;
}

.button {
  width: 160px;
  min-height: 50px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--extra-red);
}

.button:active,
.service-list:nth-child(2) .service-order:active,
.service-list:last-child .service-order:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--intensive-red);
}

.want-more {
  min-width: 240px;
  padding: 17px 55px 15px 52px;
}

/*Services*/

.wrapper {
  width: 1160px;
  margin: 0px auto;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  min-height: 507px;
  padding: 80px 0px;

}

.service-order {
  display: block;
  padding: 17px 39px;
}

.service-list-option:nth-child(2) .service-order {
  background-color: var(--basic-green);
}

.service-list-option:nth-child(2) .service-order:hover,
.service-list-option:nth-child(2) .service-order:focus {
  background-color: var(--extra-green);
}

.service-list-option:nth-child(2) .service-order:active {
  background-color: var(--intensive-green);
}

.service-list-option:last-child .service-order {
  background-color: var(--basic-yellow);
}

.service-list-option:last-child .service-order:hover,
.service-list-option:last-child .service-order:focus {
  background-color: var(--extra-yellow);
}

.service-list-option:last-child .service-order:active {
  background-color: var(--intensive-yellow);
}

/*About*/

.about {
  grid-column: 1 / 3;
}

.about-us {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-black);
}

.about-activities,
.statistics-header {
  font-weight: 700;
  text-transform: uppercase;
}

.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 73px;
}

.activity {
  position: relative;
  margin-bottom: 25px;
  padding-left: 32px;
}

.activity::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.statistics-logo {
  margin-bottom: 37px;
}

.statistics-header {
  margin-top: 0;
  margin-bottom: 31px;
  color: var(--basic-black);
}

.statistics-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px
}

.statistics-percentage {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

.statistics-percentage span {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}

.statistics-description {
  margin: 0px;
}

/*Clients*/

.clients-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-items: center;
  margin-bottom: 80px;
  border-top: 2px solid var(--lowest-intense-grey);
  border-bottom: 2px solid var(--lowest-intense-grey);
}

.client a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 184px;
  opacity: 0.2;
}

.client a:hover {
  opacity: 1
}

.client a:active {
  opacity: 0.1
}

.client {
  position: relative;
}

.client:not(.client:last-child)::after {
  content: "";
  position: absolute;
  top: 64px;
  right: -48px;
  width: 2px;
  height: 52px;
  background-color: var(--lowest-intense-grey);
}

.client:nth-child(3)::after {
  right: -60px;
}

/*Footer*/

.footer-map {
  position: relative;
  min-height: 416px;
  background-image: url(../img/map_1.png);
  background-position: center;
  background-repeat: no-repeat;
}

.footer-feedback {
  position: absolute;
  left: 140px;
  top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 308px;
  padding: 50px;
  background-color: var(--basic-white);
}

.feedback-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.feedback-address,
.feedback-telephone {
  margin-bottom: 37px;
  font-style: normal;
  line-height: 18px;
  color: var(--basic-grey);
}

.write-us {
  width: 100%;
}

/*Social media and bottom line*/

.bottom-line {
  display: flex;
  align-items: center;
  width: 1160px;
  min-height: 217px;
  margin: 0 auto;
}

.media-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.link,
.link a {
  width: 81px;
  height: 81px;
  background-color: var(--extra-light-grey);
  border-radius: 50%;
}

.link a {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.link:first-child a {
  background-image: url(../img/icons/vk-icon.svg);

}

.link:nth-child(2) a {
  background-image: url(../img/icons/tumblr-icon.svg);
  background-size: 17%;
}

.link:last-child a {
  background-image: url(../img/icons/pinterest-icon.svg);
  background-size: 25%;
}

.link a:hover {
  background-color: var(--extra-red);
}

.link:active {
  background-color: var(--intensive-red);
}

.link a:active {
  opacity: 0.3;
}

.footer-text {
  padding-left: 140px;
}

.footer-slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-discount {
  line-height: 22px;
  color: var(--darkened-grey);
}

/*Pop-up*/

.page-popup {
  position: absolute;
  transform: translateX(240px);
  display: none;
  bottom: 180px;
  width: 960px;
  min-height: 90px;
  padding: 63px 100px 84px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.4);
}

.popup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.popup-heading {
  margin-top: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  color: var(--basic-black);
}

.form-legend {
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.form-legend input,
.form-legend textarea {
  width: 100%;
  margin-top: 10px;
  padding: 16px;
  border: 2px solid var(--even-lighter-grey);
  border-radius: 3px;
  color: var(--darkened-grey);
}

.form-legend input {
  min-height: 50px;
}

.form-legend:nth-child(3) {
  grid-column: 1 / -1;
}

.form-legend input::placeholder,
.form-legend textarea::placeholder {
  opacity: 0.5;
}

.form-legend input:hover,
.form-legend textarea:hover {
  border-color: var(--mouse-grey);
}

.form-legend input:focus,
.form-legend textarea:focus {
  border-color: var(--basic-black);
  color: var(--darkened-grey);
}

.form-legend input:invalid,
.form-legendm textarea:invalid {
  border-color: var(--basic-red);
  color: var(--basic-red);
}

.popup-form button {
  min-width: 260px;
}

/*Main ---- Catalogue*/

.catalogue-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 40px;
  width: 1160px;
  margin: 0 auto;
}

.header-heading {
  grid-column: 1 / -1;
  justify-self: center;
  width: 100%;
  margin: 0 auto 55px;
  padding: 72px 0 108px;
  background-color: var(--lowest-intense-grey);
  text-align: center;
}

.heading {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.search-form {
  display: grid;
  gap: 50px;
  width: 260px;
}

.search-form label {
  line-height: 20px;
}

.search-prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
}

.prices-heading {
  margin-bottom: 48px;
}

.range {
  width: 100%;
}

.range-controls {
  position: relative;
  min-height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--lowest-intense-grey);
  border-radius: 5px;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--lighter-cloud-grey);
  box-shadow: 0 2px 1px 0 var(--light-shadow-grey);
  cursor: pointer;
}

.range-controls .scale {
  height: 2px;
  background: var(--even-lighter-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls .min-price,
.price-controls .max-price {
  text-transform: uppercase;
  font-size: 16px;
}

.price-controls .price {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-dark);
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}


.search-grids {
  display: grid;
  margin: 0px;
  border: none;
  padding: 0px;
  row-gap: 20px;
}

.grids-heading,
.peculiarities-heading {
  margin-bottom: 13px;
}

.grid-type-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 5px solid var(--extra-grey);
  border-radius: 50%;
  opacity: 0.4;
  vertical-align: middle;
  cursor: pointer;
}

.grid:checked~.grid-type-text::before {
  background-image: url(../img/icons/Oval.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.grid:hover~.grid-type-text::before {
  opacity: 1;
}

.grid-type-text:hover {
  cursor: pointer;
}

.search-peculiarities {
  display: grid;
  margin: 0px;
  border: none;
  padding: 0px;
  row-gap: 14px;
}

.peculiarity {
  position: relative;
  padding-left: 35px;

}

/* .specific-checkbox {
  position: absolute;
  width: 25px;
  height: 23px;
  margin-left: -35px;
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  background-color: var(--basic-white);
  opacity: 0.4;
}

.specific:checked+.specific-checkbox {
  background-image: url(../img/icons/checkbox-on.svg);

}

.specific:hover+.specific-checkbox {
  opacity: 1;
}

.specific:disabled+.specific-checkbox {
  opacity: 0.2;
} */

.specific-checkbox::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 23px;
  margin-left: -35px;
  margin-right: 14px;
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  opacity: 0.4;
}

.specific:checked ~ .specific-checkbox::before {
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.specific:hover ~ .specific-checkbox::before {
  opacity: 1;
}

.specific:disabled ~ .specific-checkbox {
  opacity: 0.3;
}

.specific:disabled ~ .specific-checkbox::before {
  opacity: 0.2;
}


.sort-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  column-gap: 40px;
  margin-bottom: 50px;
}


.sort-option a,
.sort-option a:visited {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-option a:hover {
  opacity: 0.6
}

.sort-option a:active,
.sort-option a:not([href]) {
  opacity: 1;
}

.dir-up svg path {
  opacity: 0.2;
}

.dir-down svg path:hover,
.dir-up svg path:hover {
  fill: var(--cloud-grey);
  opacity: 1;
}

.dir-down svg path:active,
.dir-up svg path:active {
  fill: var(--intense-dark);
}

.search-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 40px;
  margin-bottom: 55px;
}

.search-item {
  position: relative;
  margin: 0;
  padding-top: 40px;
}

.search-item::before {
  content: "";
  position: absolute;
  top: 0px;
  min-height: 40px;
  width: 100%;
  border-radius: 3px 3px 0 0;
  background-color: var(--extra-grey);
  opacity: 0.12;
}

.search-item::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
  box-shadow: 23px 0px 0px 0px var(--basic-white), 46px 0px 0px 0px var(--basic-white);
}

.item-available {
  display: none;
}

.search-item:hover .item-available {
  position: absolute;
  bottom: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px;
  padding: 36px 53px 44px;
  background-color: var(--lowest-intense-grey);
  text-align: center;
}

.search-item:hover.search-item::before {
  opacity: 1;
}

.item-heading a,
.item-heading a:visited {
  color: var(--basic-black);
}

.item-heading a:hover {
  color: var(--basic-red);
}

.item-heading a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.show-description-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.show-description-button:active {
  color: var(--basic-white);
}

.search-items-toggle {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.form-submit-button,
.search-items-page a {
  width: 260px;
  min-height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--lowest-intense-grey);
}

.search-items-page a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-right: 11px;
}

.next-page a {
  width: 260px;
  margin: 0px;
}

.form-submit-button:hover,
.search-items-page a:hover {
  background-color: var(--light-grey);
}

.form-submit-button:active,
.search-items-page a:active {
  border-top-style: inset;
  background-color: var(--low-saturation-grey);
  color: rgba(255, 255, 255, 0.3);
}

.search-items-page a:not([href]) {
  border: 3px solid var(--lighter-grey);
  background-color: var(--basic-white);
}
